Repository tradentic/agentic-quantitative-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, agents, backtests, infra

.github/labeler.yml:

docs:
  - 'docs/**'
agents:
  - 'agents/**'
  - 'features/**'
backtests:
  - 'backtests/**'
infra:
  - '.devcontainer/**'
  - 'scripts/infra/**'
  - 'supabase/**'
  - '.github/**'

Updated latest documents
  AGENTS.md
  docs/prompts/initial-prompt.md
  use_cases/insider_trading/Agentic Quant Loop.md
Labels: docs

Added use case
  use_cases/reademe.md
Labels: none

Refactor framework around LangGraph and Supabase
  .devcontainer/devcontainer.json
  .env.example
  LOCAL_DEV_SETUP.md
  README.md
  agents/__init__.py
  agents/gpt_feature_agent.py
  agents/langgraph_chain.py
  agents/tools.py
  docs/agents.md
  docs/architecture/adr/0001-use-supabase-for-local-stack.md
  docs/architecture/adr/0002-use-supabase-as-vector-db.md
  docs/architecture/quant_ai_strategy_design.md
  docs/backtesting.md
  docs/deployment.md
  docs/docusaurus.config.ts
  docs/intro.md
  docs/sidebars.ts
  features/generate_ts2vec_embeddings.py
  framework/__init__.py
  framework/supabase_client.py
  supabase/sql/signal_embedding_triggers.sql
  use_cases/README.md
  use_cases/__init__.py
  use_cases/base.py
  use_cases/insider_trading/__init__.py
  use_cases/insider_trading/pipeline.py
Labels: docs, agents, infra

chore: update devcontainer to node 24
  .devcontainer/devcontainer.json
  LOCAL_DEV_SETUP.md
  docs/deployment.md
  docs/prompts/initial-prompt.md
Labels: docs, infra

Refactor framework around LangGraph and Supabase (#2)
  .devcontainer/devcontainer.json
  .env.example
  LOCAL_DEV_SETUP.md
  README.md
  agents/__init__.py
  agents/gpt_feature_agent.py
  agents/langgraph_chain.py
  agents/tools.py
  docs/agents.md
  docs/architecture/adr/0001-use-supabase-for-local-stack.md
  docs/architecture/adr/0002-use-supabase-as-vector-db.md
  docs/architecture/quant_ai_strategy_design.md
  docs/backtesting.md
  docs/deployment.md
  docs/docusaurus.config.ts
  docs/intro.md
  docs/prompts/initial-prompt.md
  docs/sidebars.ts
  features/generate_ts2vec_embeddings.py
  framework/__init__.py
  framework/supabase_client.py
  supabase/sql/signal_embedding_triggers.sql
  use_cases/README.md
  use_cases/__init__.py
  use_cases/base.py
  use_cases/insider_trading/__init__.py
  use_cases/insider_trading/pipeline.py
Labels: docs, agents, infra

Added follow up prompt
  docs/prompts/prompt.0.md
  docs/prompts/prompt.1.md
Labels: docs

Added initial prompt
  docs/prompts/initial-prompt.md
Labels: docs

feat: add Prefect orchestration and Supabase tooling
  .env.example
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  README.md
  agents/gpt_feature_agent.py
  agents/langgraph_chain.py
  agents/tools.py
  backtest/__init__.py
  backtest/engine.py
  docs/agents.md
  docs/architecture/adr/0003-use-prefect-for-orchestration.md
  docs/architecture/quant_ai_strategy_design.md
  docs/backtesting.md
  docs/deployment.md
  features/generate_ts2vec_embeddings.py
  flows/__init__.py
  flows/backtest_flow.py
  flows/embedding_flow.py
  flows/prune_flow.py
  framework/__init__.py
  framework/supabase_client.py
  prefect.yaml
  pyproject.toml
  supabase/functions/rpc_prune_vectors.sql
  supabase/functions/rpc_refresh_embeddings.sql
  supabase/vector_db/setup_pgvector.sql
  use_cases/base.py
  use_cases/insider_trading/pipeline.py
Labels: docs, agents, infra

feat: add Prefect orchestration and Supabase tooling (#3)
  .env.example
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  README.md
  agents/gpt_feature_agent.py
  agents/langgraph_chain.py
  agents/tools.py
  backtest/__init__.py
  backtest/engine.py
  docs/agents.md
  docs/architecture/adr/0003-use-prefect-for-orchestration.md
  docs/architecture/quant_ai_strategy_design.md
  docs/backtesting.md
  docs/deployment.md
  features/generate_ts2vec_embeddings.py
  flows/__init__.py
  flows/backtest_flow.py
  flows/embedding_flow.py
  flows/prune_flow.py
  framework/__init__.py
  framework/supabase_client.py
  prefect.yaml
  pyproject.toml
  supabase/functions/rpc_prune_vectors.sql
  supabase/functions/rpc_refresh_embeddings.sql
  supabase/vector_db/setup_pgvector.sql
  use_cases/base.py
  use_cases/insider_trading/pipeline.py
Labels: docs, agents, infra

Fix repo spelling
  .devcontainer/devcontainer.json
  docs/docusaurus.config.ts
  supabase/config.toml
Labels: docs, infra

Fix architecture doc references in Docusaurus
  docs/architecture/quant_ai_strategy_design.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
Labels: docs

Fix architecture doc references in Docusaurus (#4)
  docs/architecture/quant_ai_strategy_design.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
Labels: docs

Specify package discovery for setuptools
  pyproject.toml
Labels: none

Specify package discovery for setuptools (#5)
  pyproject.toml
Labels: none

feat: durable langgraph state and supabase migrations
  LOCAL_DEV_SETUP.md
  Makefile
  agents/langgraph_chain.py
  docs/agents.md
  docs/architecture/quant_ai_strategy_design.md
  docs/backtesting.md
  docs/deployment.md
  docs/sidebars.ts
  docs/use_cases/README.md
  features/__init__.py
  framework/supabase_client.py
  prefect.yaml
  pyproject.toml
  supabase/migrations/202407310001_baseline_schema.sql
  supabase/seed.sql
  supabase/sql/signal_embedding_triggers.sql
Labels: docs, agents, infra

Finalize Supabase migrations and docs
  LOCAL_DEV_SETUP.md
  supabase/migrations/20240731000100_baseline_schema.sql
  supabase/migrations/20240731000200_signal_embedding_triggers.sql
Labels: infra

Align Node.js guidance with v24 LTS
  LOCAL_DEV_SETUP.md
  docs/prompts/prompt.0.md
Labels: docs

Add use cases overview doc and update sidebar
  docs/sidebars.ts
  docs/use_cases/use-cases-overview.md
Labels: docs

Add use cases overview doc and update sidebar (#7)
  docs/sidebars.ts
  docs/use_cases/use-cases-overview.md
Labels: docs

added docs
  docs/prompts/prompt.2.md
Labels: docs

feat: finalize planner, migrations, and prefect docs
  CHANGELOG.md
  LOCAL_DEV_SETUP.md
  Makefile
  README.md
  agents/__init__.py
  agents/gpt_feature_agent.py
  agents/langgraph_chain.py
  agents/tools.py
  docs/agents.md
  docs/architecture/quant_ai_strategy_design.md
  docs/deployment.md
  docs/intro.md
  docs/use_cases/README.md
  framework/supabase_client.py
  pyproject.toml
  supabase/migrations/20240901000000_setup_pgvector.sql
  supabase/migrations/20240901001000_baseline_schema.sql
  supabase/migrations/20240901002000_rpc_refresh_embeddings.sql
  supabase/migrations/20240901003000_rpc_prune_vectors.sql
  supabase/migrations/20240901004000_signal_embedding_triggers.sql
  supabase/seed.sql
  supabase/sql/signal_embedding_triggers.sql
  use_cases/base.py
  use_cases/insider_trading/pipeline.py
Labels: docs, agents, infra

chore: migrate supabase sql into timestamped migrations
  supabase/migrations/20240101000000_setup_pgvector.sql
  supabase/migrations/20240101001000_baseline_schema.sql
  supabase/migrations/20240101002000_rpc_refresh_embeddings.sql
  supabase/migrations/20240101003000_rpc_prune_vectors.sql
  supabase/migrations/20240101004000_signal_embedding_triggers.sql
  supabase/seed.sql
  supabase/sql/signal_embedding_triggers.sql
  supabase/vector_db/setup_pgvector.sql
Labels: infra

chore: migrate supabase sql into timestamped migrations (#9)
  supabase/migrations/20240101000000_setup_pgvector.sql
  supabase/migrations/20240101001000_baseline_schema.sql
  supabase/migrations/20240101002000_rpc_refresh_embeddings.sql
  supabase/migrations/20240101003000_rpc_prune_vectors.sql
  supabase/migrations/20240101004000_signal_embedding_triggers.sql
  supabase/seed.sql
  supabase/sql/signal_embedding_triggers.sql
  supabase/vector_db/setup_pgvector.sql
Labels: infra

docs: add supabase env sync instructions
  LOCAL_DEV_SETUP.md
Labels: none

docs: add supabase env sync instructions (#10)
  LOCAL_DEV_SETUP.md
Labels: none

chore: standardize on node 24 lts
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yaml
  LOCAL_DEV_SETUP.md
  Makefile
  agents/tools.py
  docs/agents.md
  docs/backtesting.md
  docs/deployment.md
  docs/prompts/prompt.0.md
  docs/workflows/core-ci-and-docs.md
  features/__init__.py
  framework/supabase_client.py
  supabase/migrations/20240815000000_align_feature_backtest_schema.sql
  supabase/seed.sql
Labels: docs, agents, infra

Restore strategy id column and document manual env setup
  LOCAL_DEV_SETUP.md
  supabase/migrations/20240815000000_align_feature_backtest_schema.sql
Labels: infra

Restore ts2vec seed feature name
  supabase/seed.sql
Labels: infra

Restore strategy_id on backtest persistence
  agents/tools.py
  framework/supabase_client.py
Labels: agents

Standardize docs and workflows on Node 24 LTS (#11)
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yaml
  LOCAL_DEV_SETUP.md
  Makefile
  agents/tools.py
  docs/agents.md
  docs/backtesting.md
  docs/deployment.md
  docs/prompts/prompt.0.md
  docs/workflows/core-ci-and-docs.md
  features/__init__.py
  framework/supabase_client.py
  supabase/migrations/20240815000000_align_feature_backtest_schema.sql
  supabase/seed.sql
Labels: docs, agents, infra

Implement durable LangGraph planner and Supabase migrations
  CHANGELOG.md
  LOCAL_DEV_SETUP.md
  Makefile
  README.md
  agents/__init__.py
  agents/gpt_feature_agent.py
  agents/langgraph_chain.py
  docs/agents.md
  docs/architecture/quant_ai_strategy_design.md
  docs/backtesting.md
  docs/deployment.md
  docs/intro.md
  docs/sidebars.ts
  docs/use_cases/README.md
  docs/use_cases/use-cases-overview.md
  pyproject.toml
  supabase/migrations/20250115093000_backtest_requests.sql
  supabase/seed.sql
  use_cases/base.py
Labels: docs, agents, infra

Add LangGraph memory, Supabase schema, and docs updates
  agents/langgraph_chain.py
  agents/tools.py
  docs/agents.md
  docs/architecture/adr/0003-use-prefect-for-orchestration.md
  docs/sidebars.ts
  docs/use_cases/README.md
  framework/supabase_client.py
  supabase/migrations/20240901090000_align_langgraph_supabase_schema.sql
  supabase/seed.sql
  use_cases/base.py
  use_cases/insider_trading/pipeline.py
Labels: docs, agents, infra

Restore Prefect ADR context
  docs/architecture/adr/0003-use-prefect-for-orchestration.md
Labels: docs

Add LangGraph checkpointer integration and Supabase schema updates (#13)
  agents/langgraph_chain.py
  agents/tools.py
  docs/agents.md
  docs/architecture/adr/0003-use-prefect-for-orchestration.md
  docs/sidebars.ts
  docs/use_cases/README.md
  framework/supabase_client.py
  supabase/migrations/20240901090000_align_langgraph_supabase_schema.sql
  supabase/seed.sql
  use_cases/base.py
  use_cases/insider_trading/pipeline.py
Labels: docs, agents, infra

Add Supabase seed data and document reset flow
  LOCAL_DEV_SETUP.md
  supabase/seed.sql
Labels: infra

Add Supabase seed data and document reset flow (#14)
  LOCAL_DEV_SETUP.md
  supabase/seed.sql
Labels: infra

Added prompt
  docs/prompts/prompts.3.md
Labels: docs

feat(sec): deterministic Form 4 ingest + flow + docs
  docs/capabilities/sec-form4.md
  flows/ingest_sec_form4.py
  framework/sec_client.py
  tests/sec/test_sec_client.py
Labels: docs

feat(sec): deterministic Form 4 ingest + flow + docs (#15)
  docs/capabilities/sec-form4.md
  flows/ingest_sec_form4.py
  framework/sec_client.py
  tests/sec/test_sec_client.py
Labels: docs

feat: add market data vendor adapter
  docs/capabilities/vendor-markets.md
  framework/vendor_markets.py
  tests/market/test_vendor_markets.py
Labels: docs
