Repository tradentic/agentic-quantitative-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, agents, backtests, infra

.github/labeler.yml:

docs:
  - 'docs/**'
agents:
  - 'agents/**'
  - 'features/**'
backtests:
  - 'backtests/**'
infra:
  - '.devcontainer/**'
  - 'scripts/infra/**'
  - 'supabase/**'
  - '.github/**'

Align devcontainer Prefect setup with Docker work pool
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/scripts/post-start.sh
  prefect.yaml
Labels: infra

Align devcontainer Prefect setup with Docker work pool (#77)
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/scripts/post-start.sh
  prefect.yaml
Labels: infra

Align devcontainer Prefect version with deployments
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/scripts/install-prefect-cli.sh
  .devcontainer/scripts/post-start.sh
Labels: infra

Align devcontainer Prefect version with deployments (#78)
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/scripts/install-prefect-cli.sh
  .devcontainer/scripts/post-start.sh
Labels: infra

Fix Supabase migration version collisions
  supabase/migrations/20251017000000_create_provenance_events.sql
  supabase/migrations/20251017010000_signal_embeddings_idempotent.sql
Labels: infra

Fix Supabase migration version collisions (#79)
  supabase/migrations/20251017000000_create_provenance_events.sql
  supabase/migrations/20251017010000_signal_embeddings_idempotent.sql
Labels: infra

Wait for Docker before running post-start services
  .devcontainer/scripts/post-start.sh
Labels: infra

Wait for Docker before running post-start services (#80)
  .devcontainer/scripts/post-start.sh
Labels: infra

Ignored __pycache__
  .gitignore
Labels: none

docs: document prefect and supabase quickstart
  README.md
  docs/setup/local_dev.md
Labels: docs

docs: clarify quickstart run options
  README.md
Labels: none

Improve Prefect startup env sync and worker launch
  .devcontainer/scripts/post-start.sh
Labels: infra

Improve Prefect startup env sync and worker launch (#82)
  .devcontainer/scripts/post-start.sh
Labels: infra

Restore docker-based Prefect worker launch
  .devcontainer/scripts/post-start.sh
Labels: infra

Ensure Prefect workers only run via Docker
  .devcontainer/scripts/post-start.sh
Labels: infra

Restore docker-based Prefect worker launch (#83)
  .devcontainer/scripts/post-start.sh
Labels: infra

Refactor backtest model selection and add persistence tooling
  agents/tools.py
  features/hmm_change_points.py
  features/tda_persistence.py
  flows/backtest.py
  tests/backtest/test_model_choice.py
  tests/features/test_tda_stub.py
  tests/flows/test_backtest.py
Labels: agents

Add drift monitoring and Supabase integration
  agents/tools.py
  flows/backtest.py
  framework/supabase_client.py
  monitoring/__init__.py
  monitoring/drift_monitor.py
  supabase/migrations/20260215090000_create_drift_events.sql
  supabase/seed.sql
  tests/monitoring/test_drift_triggers.py
Labels: agents, infra

Add guard utilities and skip-aware pipeline handling
  flows/backtest_flow.py
  flows/compute_offexchange_features.py
  flows/embeddings_and_fingerprints.py
  tests/conftest.py
  tests/flows/test_compute_offexchange_features.py
  tests/flows/test_supabase_retries.py
  tests/pipeline/test_step_skip.py
  use_cases/insider_trading/pipeline.py
  utils/guards.py
Labels: none

Refactor symbol normalization and centralize pipeline config
  flows/compute_offexchange_features.py
  flows/ingest_sec_form4.py
  framework/finra_client.py
  tests/use_cases/test_insider_pipeline.py
  tests/utils/test_config.py
  tests/utils/test_symbols.py
  use_cases/insider_trading/pipeline.py
  utils/__init__.py
  utils/config.py
  utils/symbols.py
Labels: none

Refactor backtest model selection and add persistence tooling (#84)
  agents/tools.py
  features/hmm_change_points.py
  features/tda_persistence.py
  flows/backtest.py
  tests/backtest/test_model_choice.py
  tests/features/test_tda_stub.py
  tests/flows/test_backtest.py
Labels: agents

Add drift monitoring utilities and drift-aware tooling
  agents/tools.py
  flows/backtest.py
  monitoring/__init__.py
  monitoring/drift_monitor.py
  supabase/migrations/20260201090000_create_drift_events.sql
  supabase/seed.sql
  tests/monitoring/test_drift_triggers.py
Labels: agents, infra

Add drift monitoring utilities and drift-aware tooling (#88)
  agents/tools.py
  flows/backtest.py
  monitoring/__init__.py
  monitoring/drift_monitor.py
  supabase/migrations/20260201090000_create_drift_events.sql
  supabase/seed.sql
  tests/monitoring/test_drift_triggers.py
Labels: agents, infra

Define default Prefect worker container name
  .devcontainer/scripts/post-start.sh
Labels: infra

Define default Prefect worker container name (#89)
  .devcontainer/scripts/post-start.sh
Labels: infra

Added otel architecture
  docs/architecture/observability_opentelemetry_architecture.md
Labels: docs

Add skip guards and Supabase retry handling
  flows/compute_offexchange_features.py
  flows/embeddings_and_fingerprints.py
  tests/flows/test_compute_offexchange_features.py
  tests/flows/test_supabase_retries.py
  tests/pipeline/test_step_skip.py
  use_cases/insider_trading/pipeline.py
  utils/guards.py
Labels: none

Add skip guards and Supabase retry handling (#90)
  flows/compute_offexchange_features.py
  flows/embeddings_and_fingerprints.py
  tests/flows/test_compute_offexchange_features.py
  tests/flows/test_supabase_retries.py
  tests/pipeline/test_step_skip.py
  use_cases/insider_trading/pipeline.py
  utils/guards.py
Labels: none

Upgrade Prefect tooling to v3
  .devcontainer/README.md
  .devcontainer/scripts/post-start.sh
  README.md
  docs/architecture/adr/0003-use-prefect-for-orchestration.md
  docs/prompts/prompts.3.md
  prefect.yaml
  pyproject.toml
Labels: docs, infra

Use Prefect 3 docker image tag
  .devcontainer/scripts/post-start.sh
  prefect.yaml
Labels: infra

Adopt Prefect 3 across orchestration tooling (#91)
  .devcontainer/README.md
  .devcontainer/scripts/post-start.sh
  README.md
  docs/architecture/adr/0003-use-prefect-for-orchestration.md
  docs/prompts/prompts.3.md
  prefect.yaml
  pyproject.toml
Labels: docs, infra

Add OpenTelemetry tracing instrumentation
  .devcontainer/devcontainer.json
  .env.example
  agents/tools.py
  docs/setup/local_dev.md
  flows/backtest_flow.py
  flows/embedding_flow.py
  flows/ingest_sec_form4.py
  framework/supabase_client.py
  observability/__init__.py
  observability/otel.py
  otelcol/config.yaml
  pyproject.toml
Labels: docs, agents, infra

Add OpenTelemetry tracing instrumentation (#92)
  .devcontainer/devcontainer.json
  .env.example
  agents/tools.py
  docs/setup/local_dev.md
  flows/backtest_flow.py
  flows/embedding_flow.py
  flows/ingest_sec_form4.py
  framework/supabase_client.py
  observability/__init__.py
  observability/otel.py
  otelcol/config.yaml
  pyproject.toml
Labels: docs, agents, infra

Refactor symbol normalization and centralize pipeline config
  config.yaml
  flows/compute_offexchange_features.py
  flows/ingest_sec_form4.py
  framework/finra_client.py
  tests/utils/test_config.py
  tests/utils/test_symbols.py
  use_cases/insider_trading/pipeline.py
  utils/config.py
  utils/symbols.py
Labels: none

Refactor symbol normalization and centralize pipeline config (#93)
  config.yaml
  flows/compute_offexchange_features.py
  flows/ingest_sec_form4.py
  framework/finra_client.py
  tests/utils/test_config.py
  tests/utils/test_symbols.py
  use_cases/insider_trading/pipeline.py
  utils/config.py
  utils/symbols.py
Labels: none

Improve Supabase readiness handling in post-start script
  .devcontainer/scripts/post-start.sh
Labels: infra

Improve Supabase readiness handling in post-start script (#94)
  .devcontainer/scripts/post-start.sh
Labels: infra

Fix Prefect deployments by correcting defaults
  prefect.yaml
Labels: none

Fix Prefect deployments by correcting defaults (#95)
  prefect.yaml
Labels: none

Add feature contribution placeholder to backtest metrics
  docs/backtesting.md
  flows/backtest.py
  monitoring/drift_monitor.py
Labels: docs
