Repository tradentic/agentic-quantitative-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, agents, backtests, infra

.github/labeler.yml:

docs:
  - 'docs/**'
agents:
  - 'agents/**'
  - 'features/**'
backtests:
  - 'backtests/**'
infra:
  - '.devcontainer/**'
  - 'scripts/infra/**'
  - 'supabase/**'
  - '.github/**'

Add shared PCA fingerprint utilities and audits
  artifacts/pca/.gitkeep
  docs/README.md
  features/pca_fingerprint.py
  flows/embeddings_and_fingerprints.py
  scripts/audit_vector_dims.py
  supabase/migrations/20260101080000_enforce_fingerprint_width.sql
  tests/features/test_pca_fingerprint.py
  tests/flows/test_embeddings_and_fingerprints.py
Labels: docs, agents, infra

Add shared PCA fingerprint utilities and audits (#56)
  artifacts/pca/.gitkeep
  docs/README.md
  features/pca_fingerprint.py
  flows/embeddings_and_fingerprints.py
  scripts/audit_vector_dims.py
  supabase/migrations/20260101080000_enforce_fingerprint_width.sql
  tests/features/test_pca_fingerprint.py
  tests/flows/test_embeddings_and_fingerprints.py
Labels: docs, agents, infra

Add configurable matrix profile engine with naive fallback
  docs/capabilities/matrix-profile.md
  features/matrix_profile.py
  tests/features/test_matrix_profile.py
Labels: docs, agents

Add configurable matrix profile engine with naive fallback (#57)
  docs/capabilities/matrix-profile.md
  features/matrix_profile.py
  tests/features/test_matrix_profile.py
Labels: docs, agents

fix(flows): add intraday flow and validate deployments
  docs/capabilities/prefect.md
  flows/__init__.py
  flows/compute_intraday_features.py
  prefect.yaml
  tests/flows/test_entrypoints.py
Labels: docs

fix(flows): add intraday flow and validate deployments (#58)
  docs/capabilities/prefect.md
  flows/__init__.py
  flows/compute_intraday_features.py
  prefect.yaml
  tests/flows/test_entrypoints.py
Labels: docs

Document feature contracts and enforce schema tests
  docs/capabilities/microstructure.md
  docs/capabilities/vpin.md
  docs/specs/FEATURE_CONTRACTS.md
  tests/features/test_contracts.py
Labels: docs

Document feature contracts and enforce schema tests (#59)
  docs/capabilities/microstructure.md
  docs/capabilities/vpin.md
  docs/specs/FEATURE_CONTRACTS.md
  tests/features/test_contracts.py
Labels: docs

Handle DeepLOB optional dependencies via env configuration
  features/deeplob_embeddings.py
  tests/features/test_deeplob_import.py
Labels: agents

Handle DeepLOB optional dependencies via env configuration (#60)
  features/deeplob_embeddings.py
  tests/features/test_deeplob_import.py
Labels: agents

ci: add embedding and prefect validations
  .github/workflows/ci-validate-embeddings.yml
  .github/workflows/ci-validate-prefect.yml
  LOCAL_DEV_SETUP.md
  scripts/audit_vector_dims.py
  tests/flows/test_entrypoints.py
Labels: infra

Add CI checks for embeddings and Prefect entrypoints
  .github/workflows/README.md
  .github/workflows/ci-validate-embeddings.yml
  .github/workflows/ci-validate-prefect.yml
  docs/workflows/core-ci-and-docs.md
Labels: docs, infra

Add CI checks for embeddings and Prefect entrypoints (#62)
  .github/workflows/README.md
  .github/workflows/ci-validate-embeddings.yml
  .github/workflows/ci-validate-prefect.yml
  docs/workflows/core-ci-and-docs.md
Labels: docs, infra

chore(db): validate fingerprint upsert keys
  flows/embeddings_and_fingerprints.py
  tests/flows/test_embeddings_and_fingerprints.py
Labels: none

chore(db): validate fingerprint upsert keys (#63)
  flows/embeddings_and_fingerprints.py
  tests/flows/test_embeddings_and_fingerprints.py
Labels: none

fix(features): guard MiniRocket import for optional sktime
  features/minirocket_embeddings.py
  tests/features/test_minirocket_import.py
Labels: agents

Add Prefect CLI installer script for devcontainers
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/scripts/install-prefect-cli.sh
  .devcontainer/scripts/post-create.sh
Labels: infra

Add Prefect CLI installer script for devcontainers (#65)
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/scripts/install-prefect-cli.sh
  .devcontainer/scripts/post-create.sh
Labels: infra

test(features): cover MiniRocket optional dependency handling
  tests/features/test_minirocket_import.py
Labels: none

test(features): cover MiniRocket optional dependency handling (#66)
  tests/features/test_minirocket_import.py
Labels: none

Align insider fingerprint defaults with PCA components
  tests/use_cases/test_insider_pipeline.py
  use_cases/insider_trading/config.yaml
  use_cases/insider_trading/pipeline.py
Labels: none

Align insider fingerprint defaults with PCA components (#67)
  tests/use_cases/test_insider_pipeline.py
  use_cases/insider_trading/config.yaml
  use_cases/insider_trading/pipeline.py
Labels: none

test(features): simplify MiniRocket import smoke test
  tests/features/test_minirocket_import.py
Labels: none

test(features): simplify MiniRocket import smoke test (#68)
  tests/features/test_minirocket_import.py
Labels: none

Ensure Prefect auto-starts and deploys in Codespaces
  .devcontainer/scripts/post-start.sh
Labels: infra

Ensure Prefect auto-starts and deploys in Codespaces (#69)
  .devcontainer/scripts/post-start.sh
Labels: infra

Add post-merge audit reports
  reports/audit/20251016_2307/AUDIT.json
  reports/audit/20251016_2307/AUDIT.md
  reports/audit/20251016_2307/CAPABILITY_MATRIX.md
  reports/audit/20251016_2307/FEATURE_INVENTORY.md
  reports/audit/20251016_2307/FLOWS_CHECK.md
  reports/audit/20251016_2307/PATCH_PLAN.md
  reports/audit/20251016_2307/QUESTIONS.md
  reports/audit/20251016_2307/SCHEMA_CHECK.md
Labels: none

Add post-merge audit reports (#70)
  reports/audit/20251016_2307/AUDIT.json
  reports/audit/20251016_2307/AUDIT.md
  reports/audit/20251016_2307/CAPABILITY_MATRIX.md
  reports/audit/20251016_2307/FEATURE_INVENTORY.md
  reports/audit/20251016_2307/FLOWS_CHECK.md
  reports/audit/20251016_2307/PATCH_PLAN.md
  reports/audit/20251016_2307/QUESTIONS.md
  reports/audit/20251016_2307/SCHEMA_CHECK.md
Labels: none

Refactor devcontainer Prefect services to Docker
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/scripts/post-start.sh
Labels: infra

Refactor devcontainer Prefect services to Docker (#71)
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/scripts/post-start.sh
Labels: infra

Add provenance events schema and coverage
  docs/adr/20251017-provenance-events.md
  supabase/migrations/20251017_create_provenance_events.sql
  supabase/seed/20251017_provenance_seed.sql
  tests/db/test_provenance_table.py
Labels: docs, infra

Add provenance events schema and coverage (#72)
  docs/adr/20251017-provenance-events.md
  supabase/migrations/20251017_create_provenance_events.sql
  supabase/seed/20251017_provenance_seed.sql
  tests/db/test_provenance_table.py
Labels: docs, infra

Enforce embedding type/version idempotency
  docs/adr/20251017-signal-embeddings-keys.md
  features/generate_ts2vec_embeddings.py
  framework/supabase_client.py
  supabase/migrations/20251017_signal_embeddings_idempotent.sql
  supabase/seed.sql
  tests/db/test_embeddings_upsert.py
  tests/framework/test_supabase_client.py
Labels: docs, agents, infra

Enforce embedding type/version idempotency (#73)
  docs/adr/20251017-signal-embeddings-keys.md
  features/generate_ts2vec_embeddings.py
  framework/supabase_client.py
  supabase/migrations/20251017_signal_embeddings_idempotent.sql
  supabase/seed.sql
  tests/db/test_embeddings_upsert.py
  tests/framework/test_supabase_client.py
Labels: docs, agents, infra

feat(db): add provenance_events table + seed
  docs/adr/20251017-provenance-events.md
  docs/capabilities/provenance.md
  framework/provenance.py
  supabase/migrations/20251017_create_provenance_events.sql
  supabase/seed/20251017_provenance_seed.sql
  tests/db/test_provenance_table.py
  tests/framework/test_provenance.py
Labels: docs, infra

feat(db): add provenance_events table + seed (#74)
  docs/adr/20251017-provenance-events.md
  docs/capabilities/provenance.md
  framework/provenance.py
  supabase/migrations/20251017_create_provenance_events.sql
  supabase/seed/20251017_provenance_seed.sql
  tests/db/test_provenance_table.py
  tests/framework/test_provenance.py
Labels: docs, infra

Add Prefect deployment helper targets to Makefile
  Makefile
Labels: none

Add Prefect deployment helper targets to Makefile (#75)
  Makefile
Labels: none

Add embeddings optional dependency
  docs/workflows/core-ci-and-docs.md
  pyproject.toml
Labels: docs

Add embeddings optional dependency (#76)
  docs/workflows/core-ci-and-docs.md
  pyproject.toml
Labels: docs
