Repository tradentic/agentic-quantitative-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, agents, backtests, infra

.github/labeler.yml:

docs:
  - 'docs/**'
agents:
  - 'agents/**'
  - 'features/**'
backtests:
  - 'backtests/**'
infra:
  - '.devcontainer/**'
  - 'scripts/infra/**'
  - 'supabase/**'
  - '.github/**'

Add feature contribution placeholder to backtest metrics (#96)
  docs/backtesting.md
  flows/backtest.py
  monitoring/drift_monitor.py
Labels: docs

Add TabPFN option to backtest model selection
  flows/backtest.py
  tests/backtest/test_model_choice.py
Labels: none

Add TabPFN option to backtest model selection (#97)
  flows/backtest.py
  tests/backtest/test_model_choice.py
Labels: none

Ensure Prefect UI works in Codespaces
  .devcontainer/scripts/ensure-prefect-env.sh
  .devcontainer/scripts/post-start.sh
Labels: infra

Ensure Prefect UI works in Codespaces (#98)
  .devcontainer/scripts/ensure-prefect-env.sh
  .devcontainer/scripts/post-start.sh
Labels: infra

Ensure Prefect UI uses same-origin API endpoint
  .devcontainer/scripts/post-start.sh
  .devcontainer/scripts/verify-prefect-setup.sh
  prefect.yaml
Labels: infra

Ensure Prefect UI uses same-origin API endpoint (#99)
  .devcontainer/scripts/post-start.sh
  .devcontainer/scripts/verify-prefect-setup.sh
  prefect.yaml
Labels: infra

Install Prefect docker plugin in devcontainer
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/scripts/install-prefect-cli.sh
Labels: infra

Install Prefect docker plugin in devcontainer (#100)
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/scripts/install-prefect-cli.sh
Labels: infra

docs: add post-fix verification audit prompt
  docs/prompts/prompt.7.md
Labels: docs

docs: add post-fix verification audit prompt (#101)
  docs/prompts/prompt.7.md
Labels: docs

Remove MiniRocket PCA artifact
  reports/audit/20251017_2201_postfix/AUDIT.json
  reports/audit/20251017_2201_postfix/AUDIT.md
  reports/audit/20251017_2201_postfix/CAPABILITY_MATRIX.md
  reports/audit/20251017_2201_postfix/FEATURE_INVENTORY.md
  reports/audit/20251017_2201_postfix/FLOWS_CHECK.md
  reports/audit/20251017_2201_postfix/PATCHES_VERIFIED.md
  reports/audit/20251017_2201_postfix/QUESTIONS.md
  reports/audit/20251017_2201_postfix/SCHEMA_CHECK.md
  reports/audit/20251017_2201_postfix/feature_checks.json
Labels: none

Remove MiniRocket PCA artifact (#102)
  reports/audit/20251017_2201_postfix/AUDIT.json
  reports/audit/20251017_2201_postfix/AUDIT.md
  reports/audit/20251017_2201_postfix/CAPABILITY_MATRIX.md
  reports/audit/20251017_2201_postfix/FEATURE_INVENTORY.md
  reports/audit/20251017_2201_postfix/FLOWS_CHECK.md
  reports/audit/20251017_2201_postfix/PATCHES_VERIFIED.md
  reports/audit/20251017_2201_postfix/QUESTIONS.md
  reports/audit/20251017_2201_postfix/SCHEMA_CHECK.md
  reports/audit/20251017_2201_postfix/feature_checks.json
Labels: none

Add verification prompt for SEC Form 4 Path A
  prompts/sec_form4_path_a_verification.md
Labels: none

Rename SEC Form4 verification prompt to .8 suffix
  prompts/SEC_Form4_PathA_verification.prompt.8.md
Labels: none

Rename SEC Form4 verification prompt to .8 suffix (#104)
  prompts/SEC_Form4_PathA_verification.prompt.8.md
Labels: none

Add SEC Form 4 Path A verification failure report
  reports/verification/SEC_Form4_PathA_20251017_2245/COMMAND_LOG.txt
  reports/verification/SEC_Form4_PathA_20251017_2245/DB_CHECK.md
  reports/verification/SEC_Form4_PathA_20251017_2245/VERIFICATION.json
  reports/verification/SEC_Form4_PathA_20251017_2245/VERIFICATION.md
Labels: none

Add SEC Form 4 Path A verification failure report (#105)
  reports/verification/SEC_Form4_PathA_20251017_2245/COMMAND_LOG.txt
  reports/verification/SEC_Form4_PathA_20251017_2245/DB_CHECK.md
  reports/verification/SEC_Form4_PathA_20251017_2245/VERIFICATION.json
  reports/verification/SEC_Form4_PathA_20251017_2245/VERIFICATION.md
Labels: none

Add NVDA insider prompt
  docs/prompts/prompt.8.md
Labels: docs

Add NVDA insider prompt (#106)
  docs/prompts/prompt.8.md
Labels: docs

Add NVDA insider monitor defaults and alerting
  .env.example
  alerts/__init__.py
  alerts/insider_nvda.py
  configs/watchlist.yaml
  docs/runbooks/nvda_insider_monitor.md
  features/insider_helpers.py
  features/price_trend.py
  flows/ingest_sec_form4.py
  flows/monitor_nvda_insider.py
  framework/alerts.py
  framework/config.py
  framework/sec_client.py
  framework/sec_parse.py
  prefect.yaml
  tests/alerts/test_insider_nvda_rule.py
  tests/conftest.py
  tests/features/test_price_trend.py
  tests/fixtures/form4_ceo.xml
  tests/flows/test_cli_defaults.py
  tests/flows/test_monitor_entrypoint.py
  tests/framework/test_insider_helpers.py
Labels: docs, agents
