Repository tradentic/agentic-quantitative-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, agents, backtests, infra

.github/labeler.yml:

docs:
  - 'docs/**'
agents:
  - 'agents/**'
  - 'features/**'
backtests:
  - 'backtests/**'
infra:
  - '.devcontainer/**'
  - 'scripts/infra/**'
  - 'supabase/**'
  - '.github/**'

feat: add market data vendor adapter (#16)
  docs/capabilities/vendor-markets.md
  framework/vendor_markets.py
  tests/market/test_vendor_markets.py
Labels: docs

Add FINRA client and off-exchange feature flow
  docs/capabilities/finra.md
  flows/compute_offexchange_features.py
  framework/finra_client.py
  tests/finra/test_finra_client.py
Labels: docs

Add FINRA client and off-exchange feature flow (#17)
  docs/capabilities/finra.md
  flows/compute_offexchange_features.py
  framework/finra_client.py
  tests/finra/test_finra_client.py
Labels: docs

Add microstructure feature computations
  docs/capabilities/microstructure.md
  features/__init__.py
  features/microstructure.py
  tests/features/test_microstructure.py
Labels: docs, agents

Add microstructure feature computations (#18)
  docs/capabilities/microstructure.md
  features/__init__.py
  features/microstructure.py
  tests/features/test_microstructure.py
Labels: docs, agents

Add matrix profile shape metrics
  docs/capabilities/matrix-profile.md
  features/__init__.py
  features/matrix_profile.py
  pyproject.toml
  tests/features/test_matrix_profile.py
Labels: docs, agents

Add matrix profile shape metrics (#19)
  docs/capabilities/matrix-profile.md
  features/__init__.py
  features/matrix_profile.py
  pyproject.toml
  tests/features/test_matrix_profile.py
Labels: docs, agents

feat: add change-point detection utilities
  docs/capabilities/change-points.md
  features/change_points.py
  tests/features/test_change_points.py
Labels: docs, agents

feat: add change-point detection utilities (#20)
  docs/capabilities/change-points.md
  features/change_points.py
  tests/features/test_change_points.py
Labels: docs, agents

Add MiniRocket embedding generator
  docs/capabilities/minirocket.md
  features/minirocket_embeddings.py
  tests/features/test_minirocket.py
Labels: docs, agents

Add MiniRocket embedding generator (#21)
  docs/capabilities/minirocket.md
  features/minirocket_embeddings.py
  tests/features/test_minirocket.py
Labels: docs, agents

Add VPIN feature computation and tests
  docs/capabilities/vpin.md
  features/vpin.py
  tests/features/test_vpin.py
Labels: docs, agents

Add VPIN feature computation and tests (#22)
  docs/capabilities/vpin.md
  features/vpin.py
  tests/features/test_vpin.py
Labels: docs, agents

Add DeepLOB embedding utilities and docs
  docs/capabilities/deeplob.md
  features/__init__.py
  features/deeplob_embeddings.py
  tests/features/test_deeplob.py
Labels: docs, agents

Add DeepLOB embedding utilities and docs (#23)
  docs/capabilities/deeplob.md
  features/__init__.py
  features/deeplob_embeddings.py
  tests/features/test_deeplob.py
Labels: docs, agents

Add core Supabase schema tables and vector seed
  docs/capabilities/schema.md
  sql/seed_vector.sql
  supabase/migrations/20250101000000_core_schema.sql
Labels: docs, infra

Add core Supabase schema tables and vector seed (#24)
  docs/capabilities/schema.md
  sql/seed_vector.sql
  supabase/migrations/20250101000000_core_schema.sql
Labels: docs, infra

Add Hawkes self-excitation feature estimates
  docs/capabilities/hawkes.md
  features/hawkes_features.py
  tests/features/test_hawkes.py
Labels: docs, agents

Add Hawkes self-excitation feature estimates (#25)
  docs/capabilities/hawkes.md
  features/hawkes_features.py
  tests/features/test_hawkes.py
Labels: docs, agents

Add Prefect similarity scan flow and reporting
  docs/capabilities/similarity.md
  flows/__init__.py
  flows/similarity_scans.py
  tests/flows/test_similarity_scans.py
Labels: docs

Add Prefect similarity scan flow and reporting (#26)
  docs/capabilities/similarity.md
  flows/__init__.py
  flows/similarity_scans.py
  tests/flows/test_similarity_scans.py
Labels: docs

feat(backtest): add insider pre-filing flow
  docs/capabilities/backtest.md
  flows/backtest.py
  tests/flows/test_backtest.py
Labels: docs

feat(backtest): add insider pre-filing flow (#27)
  docs/capabilities/backtest.md
  flows/backtest.py
  tests/flows/test_backtest.py
Labels: docs

Add embeddings to fingerprints flow
  docs/capabilities/fingerprints.md
  flows/__init__.py
  flows/embeddings_and_fingerprints.py
  tests/flows/test_embeddings_and_fingerprints.py
Labels: docs

Add embeddings to fingerprints flow (#28)
  docs/capabilities/fingerprints.md
  flows/__init__.py
  flows/embeddings_and_fingerprints.py
  tests/flows/test_embeddings_and_fingerprints.py
Labels: docs

feat: add insider trading pipeline glue
  docs/use-cases/insider_trading.md
  tests/use_cases/test_insider_pipeline.py
  use_cases/insider_trading/config.yaml
  use_cases/insider_trading/pipeline.py
Labels: docs

feat: add insider trading pipeline glue (#29)
  docs/use-cases/insider_trading.md
  tests/use_cases/test_insider_pipeline.py
  use_cases/insider_trading/config.yaml
  use_cases/insider_trading/pipeline.py
Labels: docs

Add provenance tracking utilities and integrate flows
  docs/capabilities/provenance.md
  flows/compute_offexchange_features.py
  flows/ingest_sec_form4.py
  framework/provenance.py
  tests/framework/test_provenance.py
Labels: docs

Add provenance tracking utilities and integrate flows (#30)
  docs/capabilities/provenance.md
  flows/compute_offexchange_features.py
  flows/ingest_sec_form4.py
  framework/provenance.py
  tests/framework/test_provenance.py
Labels: docs

chore: consolidate seed scripts under supabase
  sql/seed_vector.sql
  supabase/seed.sql
Labels: infra

chore: consolidate seed scripts under supabase (#31)
  sql/seed_vector.sql
  supabase/seed.sql
Labels: infra

chore: register new prefect deployments
  docs/capabilities/prefect.md
  prefect.yaml
Labels: docs

chore: register new prefect deployments (#32)
  docs/capabilities/prefect.md
  prefect.yaml
Labels: docs

docs: refresh readme overview
  README.md
Labels: none

docs: refresh readme overview (#33)
  README.md
Labels: none

docs: add remediation prompt for insider pipeline fixes
  docs/prompts/prompt.4.md
Labels: docs

docs: add remediation prompt for insider pipeline fixes (#34)
  docs/prompts/prompt.4.md
Labels: docs

Expand docs sidebar with all content categories
  docs/sidebars.ts
Labels: docs

Expand docs sidebar with all content categories (#35)
  docs/sidebars.ts
Labels: docs

Handle optional feature dependencies and small-window matrix profile
  CHANGELOG.md
  docs/capabilities/fingerprints.md
  docs/capabilities/finra.md
  docs/capabilities/minirocket.md
  docs/capabilities/schema.md
  docs/capabilities/sec-form4.md
  docs/use-cases/insider_trading.md
  features/__init__.py
  features/deeplob_embeddings.py
  features/matrix_profile.py
  features/minirocket_embeddings.py
  flows/compute_offexchange_features.py
  flows/embeddings_and_fingerprints.py
  flows/ingest_sec_form4.py
  framework/sec_client.py
  supabase/migrations/20250301090000_align_insider_pipeline_schema.sql
  supabase/seed.sql
  tests/conftest.py
  tests/features/test_minirocket.py
  tests/flows/test_compute_offexchange_features.py
  tests/flows/test_embeddings_and_fingerprints.py
  tests/flows/test_ingest_sec_form4.py
  tests/sec/test_sec_client.py
  tests/use_cases/test_insider_pipeline.py
  use_cases/insider_trading/config.yaml
  use_cases/insider_trading/pipeline.py
Labels: docs, agents, infra
