Repository tradentic/agentic-quantitative-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, agents, backtests, infra

.github/labeler.yml:

docs:
  - 'docs/**'
agents:
  - 'agents/**'
  - 'features/**'
backtests:
  - 'backtests/**'
infra:
  - '.devcontainer/**'
  - 'scripts/infra/**'
  - 'supabase/**'
  - '.github/**'

Handle optional feature dependencies and small-window matrix profile (#36)
  CHANGELOG.md
  docs/capabilities/fingerprints.md
  docs/capabilities/finra.md
  docs/capabilities/minirocket.md
  docs/capabilities/schema.md
  docs/capabilities/sec-form4.md
  docs/use-cases/insider_trading.md
  features/__init__.py
  features/deeplob_embeddings.py
  features/matrix_profile.py
  features/minirocket_embeddings.py
  flows/compute_offexchange_features.py
  flows/embeddings_and_fingerprints.py
  flows/ingest_sec_form4.py
  framework/sec_client.py
  supabase/migrations/20250301090000_align_insider_pipeline_schema.sql
  supabase/seed.sql
  tests/conftest.py
  tests/features/test_minirocket.py
  tests/flows/test_compute_offexchange_features.py
  tests/flows/test_embeddings_and_fingerprints.py
  tests/flows/test_ingest_sec_form4.py
  tests/sec/test_sec_client.py
  tests/use_cases/test_insider_pipeline.py
  use_cases/insider_trading/config.yaml
  use_cases/insider_trading/pipeline.py
Labels: docs, agents, infra

chore: label prefect ports and auto-start server
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/devcontainer.json
  .devcontainer/scripts/post-start.sh
Labels: infra

chore: label prefect ports and auto-start server (#37)
  .devcontainer/README.md
  .devcontainer/SCRIPTS.md
  .devcontainer/devcontainer.json
  .devcontainer/scripts/post-start.sh
Labels: infra

Fix seed data for backtest_results schema
  supabase/seed.sql
Labels: infra

Fix seed data for backtest_results schema (#38)
  supabase/seed.sql
Labels: infra

Add post-merge audit prompt
  docs/prompts/prompt.5.md
Labels: docs

Add post-merge audit prompt (#39)
  docs/prompts/prompt.5.md
Labels: docs

Add Supabase environment setup make target
  Makefile
Labels: none

Add Supabase environment setup make target (#40)
  Makefile
Labels: none

Default fingerprint vectors to 128 dimensions
  flows/embeddings_and_fingerprints.py
  prefect.yaml
  tests/flows/test_embeddings_and_fingerprints.py
Labels: none

Default fingerprint vectors to 128 dimensions (#41)
  flows/embeddings_and_fingerprints.py
  prefect.yaml
  tests/flows/test_embeddings_and_fingerprints.py
Labels: none

Clamp TS2Vec embeddings to pgvector length
  features/generate_ts2vec_embeddings.py
  tests/features/test_generate_ts2vec_embeddings.py
Labels: agents

Clamp TS2Vec embeddings to pgvector length (#42)
  features/generate_ts2vec_embeddings.py
  tests/features/test_generate_ts2vec_embeddings.py
Labels: agents

Adjust DeepLOB embeddings to 128 dimensions
  docs/capabilities/deeplob.md
  features/deeplob_embeddings.py
  tests/features/test_deeplob.py
Labels: docs, agents

Adjust DeepLOB embeddings to 128 dimensions (#43)
  docs/capabilities/deeplob.md
  features/deeplob_embeddings.py
  tests/features/test_deeplob.py
Labels: docs, agents

Fix recipe indentation in Makefile
  Makefile
Labels: none

Fix recipe indentation in Makefile (#44)
  Makefile
Labels: none

Add post-merge audit reports
  reports/audit/20251016_1906/AUDIT.json
  reports/audit/20251016_1906/AUDIT.md
  reports/audit/20251016_1906/CAPABILITY_MATRIX.md
  reports/audit/20251016_1906/FEATURE_INVENTORY.md
  reports/audit/20251016_1906/FLOWS_CHECK.md
  reports/audit/20251016_1906/PATCH_PLAN.md
  reports/audit/20251016_1906/QUESTIONS.md
  reports/audit/20251016_1906/SCHEMA_CHECK.md
  reports/audit/20251016_1906/flows_meta.json
Labels: none

Add post-merge audit reports (#45)
  reports/audit/20251016_1906/AUDIT.json
  reports/audit/20251016_1906/AUDIT.md
  reports/audit/20251016_1906/CAPABILITY_MATRIX.md
  reports/audit/20251016_1906/FEATURE_INVENTORY.md
  reports/audit/20251016_1906/FLOWS_CHECK.md
  reports/audit/20251016_1906/PATCH_PLAN.md
  reports/audit/20251016_1906/QUESTIONS.md
  reports/audit/20251016_1906/SCHEMA_CHECK.md
  reports/audit/20251016_1906/flows_meta.json
Labels: none

Update Supabase env sync targets
  .devcontainer/scripts/sync-supabase-env.mjs
Labels: infra

Update Supabase env sync targets (#46)
  .devcontainer/scripts/sync-supabase-env.mjs
Labels: infra

Update Supabase env setup
  Makefile
Labels: none

Fix indentation in Supabase env setup target
  Makefile
Labels: none

Update Supabase env setup to use .env.local (#47)
  Makefile
Labels: none

docs: renumber post-audit prompt
  docs/prompts/prompt.6.md
Labels: docs

docs: renumber post-audit prompt (#48)
  docs/prompts/prompt.6.md
Labels: docs

Remove unused Next.js port from devcontainer
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Labels: infra

Remove unused Next.js port from devcontainer (#49)
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Labels: infra

chore(db): add UNIQUE+UPSERT for daily_features and signal_fingerprints
  flows/compute_offexchange_features.py
  flows/embeddings_and_fingerprints.py
  supabase/migrations/20251016_idempotency.sql
  supabase/seed.sql
  tests/flows/test_compute_offexchange_features.py
  use_cases/insider_trading/pipeline.py
Labels: infra

chore(db): add UNIQUE+UPSERT for daily_features and signal_fingerprints (#50)
  flows/compute_offexchange_features.py
  flows/embeddings_and_fingerprints.py
  supabase/migrations/20251016_idempotency.sql
  supabase/seed.sql
  tests/flows/test_compute_offexchange_features.py
  use_cases/insider_trading/pipeline.py
Labels: infra

fix(features): MiniRocket import compatibility with NumPy 2.0
  features/minirocket_embeddings.py
  tests/features/test_minirocket.py
  tests/features/test_minirocket_import.py
Labels: agents

fix(features): MiniRocket import compatibility with NumPy 2.0 (#51)
  features/minirocket_embeddings.py
  tests/features/test_minirocket.py
  tests/features/test_minirocket_import.py
Labels: agents

chore(db): enforce idempotent fingerprint upserts
  flows/embeddings_and_fingerprints.py
  tests/flows/test_embeddings_and_fingerprints.py
Labels: none

chore(db): enforce idempotent fingerprint upserts (#52)
  flows/embeddings_and_fingerprints.py
  tests/flows/test_embeddings_and_fingerprints.py
Labels: none

chore(db): enforce idempotent daily features and fingerprints
  supabase/migrations/20251016_idempotency.sql
Labels: infra

chore(db): enforce idempotent daily features and fingerprints (#53)
  supabase/migrations/20251016_idempotency.sql
Labels: infra

fix(features): add MiniRocket optional dependency tests
  tests/features/test_minirocket_import.py
Labels: none

fix(features): add MiniRocket optional dependency tests (#54)
  tests/features/test_minirocket_import.py
Labels: none

chore(db): enforce idempotent vector upserts
  framework/supabase_client.py
  supabase/migrations/20251016_idempotency.sql
  supabase/seed.sql
  tests/framework/test_supabase_client.py
Labels: infra

chore(db): enforce idempotent vector upserts (#55)
  framework/supabase_client.py
  supabase/migrations/20251016_idempotency.sql
  supabase/seed.sql
  tests/framework/test_supabase_client.py
Labels: infra
